html, body {
    font-family: "Pretendard", "YESMyoungjo", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    word-break: keep-all;
    word-wrap: break-word;
}
#wrap {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}
@media screen and (max-width:1300px){
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}/*@media*/
:root {
    /* header */
    --header-h: 100px;
    --header-h-m: -100px;
    /* font */
    --tit-font-size: 45px;
    --bold-weight: 700;
    --tit-line-height: 1.2;
    /* color */
    --tit-color: #1d1d1d;
    --base-color: #555;
    --point-color: #00656E;
    --sub-color: #131936;
}
/********** 769px ~ 1024px **********/
@media screen and (max-width:1024px){
    :root {
        --header-h: 60px;
        --header-h-m: -60px;
        --tit-font-size: 36px;
    }
}/*@media*/
/********** 481px ~ 768px **********/
@media screen and (max-width:768px){
    :root {
        --tit-font-size: 28px;
    }
}/*@media*/
/********** ~ 480px **********/
@media screen and (max-width:480px){
    :root {
        --tit-font-size: 22px;
    }
}/*@media*/