@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);
/****************************** section - visual ******************************/
.visual {
    position: relative;
}
.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh;
    min-height: 500px;
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.visual .swiper-slide .txt_wrap {
    position: absolute;
    left: 0;
    bottom: 15%;
    width: 100%;
}
.visual .swiper-slide .txt_wrap .txt {
    overflow: hidden;
}
.visual .swiper-slide .txt_wrap .txt p {
    color: #fff;
    font-size: 70px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    transform: translateY(100%);
    transition: 0.5s;
    transition-delay: 0.8s;
}
.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
    transform: translateY(0);
}
/********** swiper button **********/
.visual .ctrl_wrap {
    position: absolute;
    left: calc(50% - 630px);
    bottom: 10%;
    z-index: 10;
    display: flex;
    gap: 5px;
}
.visual .ctrl_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 12.75L0 6.5L6.25 0.25L7.35938 1.35938L2.21875 6.5L7.35938 11.6406L6.25 12.75Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.75 0.25L8 6.5L1.75 12.75L0.640625 11.6406L5.78125 6.5L0.640625 1.35937L1.75 0.25Z' fill='white'/%3E%3C/svg%3E%0A");
}
/********** paging **********/
.visual .paging {
    position: absolute;
    left: 50%;
    bottom: 7%;
    z-index: 10;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 1260px;
    color: #fff;
    display: flex;
    gap: 10px;
}
.visual .paging .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.visual .paging .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}
.visual .paging .swiper-pagination-bullet-active {
    opacity: 1;
    background: transparent;
}
.visual .paging .swiper-pagination-bullet {
    width: 33.33%;
    height: auto;
    display: block;
    border-radius: 0;
    background: transparent;
    opacity: 1;
    margin: 0;
    text-align: center;
    border-bottom: 7px solid rgba(255,255,255,0.2);
    padding: 0 0 5px 0;
    position: relative;
}
.visual .paging .swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0;
    height: 7px;
    background-color: var(--point-color);
}
.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    animation-name: visual_paging;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes visual_paging {
    0% { width: 0; }
    100% { width: 100%; }
}/* @keyframes */
/********** 1025px ~ 1300px **********/
@media screen and (max-width:1300px) {
    .visual .ctrl_wrap {
        left: 20px;
    }
}/* @media */
/********** 769px ~ 1023px **********/
@media screen and (max-width:1024px) {
    .visual .swiper-slide .txt_wrap .txt p {
        font-size: 55px;
    }
}/* @media */
/********** 481px ~ 768px **********/
@media screen and (max-width:768px) {
    .visual .swiper-slide .photo {
        height: 800px;
    }
    .visual .swiper-slide .txt_wrap .txt p {
        font-size: 40px;
    }
}/* @media */
/********** ~ 480px **********/
@media screen and (max-width:480px) {
    .visual .swiper-slide .photo {
        height: 600px;
    }
    .visual .swiper-slide .txt_wrap .txt p {
        font-size: 32px;
    }
}/* @media */
/****************************** section - merit ******************************/
.merit {
    background: url(../images/main/merit01.jpg);
    padding: 160px 0 250px 0;
}
.merit .tit h2 {
    text-align: center;
    color: var(--point-color);

}
.merit .tit p {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    text-align: center;
    color: #fff;
}
.merit .list {
    margin: 70px 0 0 0;
    color: #fff;
}
.merit .list ul {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 70px;
}
.merit .list ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
}
.merit .list ul li span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "YESMyoungjo";
    font-size: 24px;
    font-weight: var(--bold-weight);
    text-align: center;
    color: var(--sub-color);
}
.merit .list ul li span::before {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 0 10px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.merit .list ul li.list01 span::before {
    background-image: url(../images/main/system_n.svg);
}
.merit .list ul li.list02 span::before {
    background-image: url(../images/main/employee_n.svg);
}
.merit .list ul li.list03 span::before {
    background-image: url(../images/main/volunteer_n.svg);
}
.merit .list ul li p {
    position: absolute;
    bottom: -130px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}
/********** 768px 이하부턴 애니메이션 x **********/
@media screen and (min-width:768px) {
    .merit .list ul li {
        transition: 0.5s;
    }
    .merit .list ul li:hover {
        background-color: var(--point-color);
    }
    .merit .list ul li:hover span {
        color: #fff;
    }
    .merit .list ul li:hover.list01 span::before {
        background-image: url(../images/main/system_w.svg);
    }
    .merit .list ul li:hover.list02 span::before {
        background-image: url(../images/main/employee_w.svg);
    }
    .merit .list ul li:hover.list03 span::before {
        background-image: url(../images/main/volunteer_w.svg);
    }
    .merit .list ul li:hover.list01 .txt01 {
        opacity: 1;
    }
    .merit .list ul li:hover.list02 .txt02 {
        opacity: 1;
    }
    .merit .list ul li:hover.list03 .txt03 {
        opacity: 1;
    }
}/* @media */
/********** 769px ~ 1024px **********/
@media screen and (max-width:1024px) {
    .merit {
        padding: 140px 0 200px 0;
    }
    .merit .tit h2 {
        font-size: 16px;
    }
    .merit .list {
        margin: 40px 0 0 0;
    }
    .merit .list ul {
        gap: 50px;
    }
    .merit .list ul li {
        width: 180px;
        height: 180px;
    }
    .merit .list ul li span {
        font-size: 16px;
    }
    .merit .list ul li span::before {
        width: 50px;
        height: 50px;
        margin: 0 0 8px 0;
    }
    .merit .list ul li p {
        font-size: 16px;
        bottom: -100px;
    }
}/* @media */
/********** 481px ~ 768px **********/
@media screen and (max-width:768px) {
    .merit {
        /* height: 700px; */
        padding: 100px 0 100px 0;
    }
    .merit .tit h2 {
        font-size: 14px;
    }
    .merit .tit p {
        margin: 7px 0 0 0;
    }
    .merit .list {
        margin: 20px 0 0 0;
    }
    .merit .list ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .merit .list ul li {
        width: 140px;
        height: 140px;
    }
    .merit .list ul li span {
        font-size: 14px;
    }
    .merit .list ul li span::before {
        width: 40px;
        height: 40px;
        margin: 0 0 5px 0;
    }
}/* @media */
/********** ~ 480px **********/
@media screen and (max-width:480px) {
    .merit {
        padding: 60px 0 60px 0;
    }
    .merit .tit h2 {
        font-size: 12px;
    }
    .merit .tit p br {
        display: none;
    }
    .merit .tit p {
        margin: 5px 0 0 0;
    }
    /* .merit .list {
        margin: 15px 0 0 0;
    }
    .merit .list ul {
        gap: 15px;
    }
    .merit .list ul li {
        width: 100px;
        height: 100px;
    }
    .merit .list ul li span {
        font-size: 10px;
    }
    .merit .list ul li span::before {
        width: 30px;
        height: 30px;
        margin: 0 0 3px 0;
    } */
}/* @media */
/****************************** section - doctor ******************************/
.doctor {
    margin: 135px 0 135px 0;
}
.doctor .tit {
    text-align: center;
}
.doctor .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--sub-color);
}
.doctor .tit p {
    margin: 10px 0 0 0;
}
.doctor .profile {
    margin: 90px 0 0 0;
    display: flex;
    justify-content: center;
}
.doctor .profile .photo {
    width: 42.46%;
    height: 700px;
    z-index: 10;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}
.doctor .profile .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.doctor .profile .side {
    position: relative;
    width: 42.46%;
    height: 700px;
    background-color: var(--sub-color);
    margin: 30px 0 0 -24px;
    padding: 50px 50px 0 74px;
    color: #fff;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}
.doctor .profile .side .name {
    display: flex;
    align-items: baseline;
}
.doctor .profile .side .name h3 {
    margin: 0 10px 0 0;
}
.doctor .profile .side .name span {
    font-size: 36px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.doctor .profile .side .sub_tit{
    margin: 30px 0 0 0;
    font-size: 36px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.doctor .profile .side .work {
    margin: 40px 0 0 0;
}
.doctor .profile .side .work strong {
    display: block;
    margin: 0 0 5px 0;
}
.doctor .profile .side .work ul li {
    position: relative;
    margin: 0 0 0 20px;
}
.doctor .profile .side .work ul li::before {
    position: absolute;
    content: "";
    left: -15px;
    top: 10px;
    width: 1px;
    height: 1px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    background-position: center center;
}
.doctor .profile .side .work strong {
    font-weight: var(--bold-weight);
}
.doctor .profile .side .spec {
    margin: 20px 0 0 0;
}
.doctor .profile .side .spec strong {
    display: block;
    font-weight: var(--bold-weight);
    margin: 0 0 5px 0;
}
.doctor .profile .side .spec ul li {
    position: relative;
    margin: 0 0 0 20px;
}
.doctor .profile .side .spec ul li::before {
    position: absolute;
    content: "";
    left: -15px;
    top: 10px;
    width: 1px;
    height: 1px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    background-position: center center;
}
.doctor .profile .side .more {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 0.3s;
}
.doctor .profile .side .more a::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: 11px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_114_192' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_114_192)'%3E%3Cpath d='M8.025 22L6.25 20.225L14.475 12L6.25 3.775L8.025 2L18.025 12L8.025 22Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.doctor .profile .photo .sub_profile {
    display: none;
}
/********** 1024px 이하부턴 애니메이션 x **********/
@media screen and (min-width:1025px) {
    .doctor .profile .side .more:hover {
        background-color: #fff;
    }
    .doctor .profile .side .more:hover a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_129_140' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_129_140)'%3E%3Cpath d='M8.025 22L6.25 20.225L14.475 12L6.25 3.775L8.025 2L18.025 12L8.025 22Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/* @media */
/********** 1025px ~ 1300px **********/
@media screen and (max-width:1300px) {
    .doctor .profile .photo {
        height: 600px
    }
    .doctor .profile .side {
        height: 600px;
    }
    .doctor .profile .side .spec ul.txt02 li {
        display: none;
    }
}/* @media */
/********** 769px ~ 1024px **********/
@media screen and (max-width:1024px) {
    .doctor {
        margin: 100px 0 100px 0;
    }
    .doctor .tit p {
        font-size: 16px;
    }
    .doctor .profile {
        margin: 60px 0 0 0;
    }
    .doctor .profile .photo {
        height: 400px
    }
    .doctor .profile .side {
        height: 400px;
    }
    .doctor .profile .side .sub_tit {
        margin: 20px 0 0 0;
        font-size: 28px;
    }
    .doctor .profile .side .work {
        font-size: 16px;
    }
    .doctor .profile .side .name span {
        font-size: 28px;
    }
    .doctor .profile .side .spec strong {
        display: none;
    }
    .doctor .profile .side .spec ul {
        display: none;
    }
}/* @media */
/********** 480px ~ 768px **********/
@media screen and (max-width:768px) {
    .doctor {
        margin: 75px 0 75px 0;
    }
    .doctor .tit p {
        font-size: 14px;
        margin: 7px 0 0 0;
    }
    .doctor .profile {
        margin: 40px 0 0 0;
    }
    .doctor .profile .photo {
        height: 350px
    }
    .doctor .profile .side {
        height: 350px;
        padding: 30px 30px 0 40px;
    }
    .doctor .profile .side .name h3 {
        font-size: 14px;
    }
    .doctor .profile .side .name span {
        font-size: 24px;
    }
    .doctor .profile .side .sub_tit {
        font-size: 24px;
    }
    .doctor .profile .side .work {
        font-size: 14px;
        margin: 20px 0 0 0;
    }
    .doctor .profile .side .more {
        right: 30px;
        bottom: 30px;
        width: 32px;
        height: 32px;
    }
    .doctor .profile .side .more a::after {
        right: 8px;
        bottom: 8px;
        width: 14px;
        height: 14px;
    }
}/* @media */
/********** ~ 480px **********/
@media screen and (max-width:480px) {
    .doctor {
        margin: 60px 0 120px 0;
    }
    .doctor .tit p {
        font-size: 12px;
        margin: 5px 0 0 0;
    }
    .doctor .profile {
        flex-direction: column;
        align-items: center;
    }
    .doctor .profile .photo {
        width: 71.87%;
    }
    .doctor .profile .side {
        display: none;
    }
    .doctor .profile .photo .sub_profile {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin: 10px 0 0 0;
    }
    .doctor .profile .photo .sub_profile .name {
        display: flex;
        align-items: flex-end;
    }
    .doctor .profile .photo .sub_profile .name h3 {
        font-size: 10px;
        padding: 2px 7px;
        background-color: var(--sub-color);
        color: #fff;
    }
    .doctor .profile .photo .sub_profile .name span {
        font-size: 28px;
        font-weight: var(--bold-weight);
        line-height: 1.0;
        color: var(--tit-color);
        margin: 0 0 0 5px;
    }
    .doctor .profile .photo .sub_profile .more {
        position: absolute;
        right: 0px;
        bottom: 2px;
        width: 28px;
        height: 28px;
        border: 1px solid var(--sub-color);
        border-radius: 50%;
    }
    .doctor .profile .photo .sub_profile .more a::after {
        content: "";
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 14px;
        height: 14px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_125_137' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='14' height='14'%3E%3Crect width='14' height='14' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_125_137)'%3E%3Cpath d='M4.68092 12.8334L3.64551 11.798L8.44342 7.00008L3.64551 2.20216L4.68092 1.16675L10.5143 7.00008L4.68092 12.8334Z' fill='%23131936'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/* @media */
/****************************** section - treat ******************************/
.service .tit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    background-color: #f7f7f7;
}
.service .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--sub-color);
}
.service .tit p {
    margin: 10px 0 0 0;
}
.service .list {
    color: #fff;
}
.service .list ul {
    display: flex;
}
.service .list ul li {
    width: 25%;
}
.service .list ul li a  {
    display: block;
    position: relative;
}
.service .list ul li a .photo {
    height: 500px;
    overflow: hidden;
}
.service .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    transform: scale3d(1.01, 1.01, 1);
}
.service .list ul li a .txt {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.service .list ul li a .txt h3 {
    position: relative;
    font-size: 36px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
.service .list ul li a .txt h3::before {
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}
.service .list ul li.list01 a .txt h3::before {
    bottom: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='50' viewBox='0 0 34 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.715 0.156246C7.39078 0.546871 5.06656 1.88476 3.59195 3.6914C1.2775 6.51367 0.339996 10.2832 1.04312 13.9746C1.48257 16.3086 2.56656 18.1934 4.90054 20.6641C6.14078 21.9629 6.8439 22.7734 6.8439 22.8711C6.8439 22.9004 6.63882 22.9492 6.38492 22.9883C5.19351 23.1445 4.32437 23.7109 3.83609 24.6484C3.61148 25.0781 3.57242 25.2637 3.57242 26.0254C3.57242 27.0605 3.76773 27.5586 4.42203 28.2129C5.17398 28.9453 5.49625 29.0527 7.31265 29.082L8.89468 29.1211V30.1758V31.2305L7.75211 31.2695C6.69742 31.2988 6.55093 31.3281 6.08218 31.5918C5.49625 31.9043 5.09586 32.3242 4.77359 32.9395C4.58804 33.2812 4.54898 33.5059 4.54898 34.2773C4.54898 35.0488 4.58804 35.2734 4.77359 35.6152C5.09586 36.2305 5.49625 36.6504 6.08218 36.9629C6.55093 37.2266 6.69742 37.2559 7.75211 37.2852L8.89468 37.3242V38.3789V39.4238L8.27945 39.4727C7.48843 39.541 6.80484 39.8926 6.22867 40.5273C5.41812 41.4258 5.23257 42.6953 5.75015 43.7988C6.2482 44.834 7.14664 45.459 8.32828 45.5664L8.94351 45.625L11.1505 47.8223L13.3576 50.0098L17.0294 49.9805L20.7111 49.9512L22.8791 47.793L25.0568 45.625L25.672 45.5664C26.8537 45.459 27.7521 44.834 28.2502 43.7988C28.7677 42.6953 28.5822 41.4258 27.7716 40.5273C27.1955 39.8926 26.5119 39.541 25.7209 39.4727L25.1056 39.4238V38.3789V37.3242L26.258 37.2852C27.3029 37.2559 27.4494 37.2266 27.9181 36.9629C28.5041 36.6504 28.9044 36.2305 29.2267 35.6152C29.4123 35.2734 29.4513 35.0488 29.4513 34.2773C29.4513 33.5059 29.4123 33.2812 29.2267 32.9395C28.9044 32.3242 28.5041 31.9043 27.9181 31.5918C27.4494 31.3281 27.3029 31.2988 26.258 31.2695L25.1056 31.2305V30.1758V29.1211L26.6974 29.082C28.4943 29.043 28.8654 28.9355 29.588 28.2031C30.2326 27.5684 30.4279 27.0508 30.4279 26.0254C30.4279 25.2344 30.3986 25.0977 30.1349 24.6191C29.6076 23.6621 28.8068 23.1445 27.6252 22.9883C27.3615 22.9492 27.1564 22.9004 27.1564 22.8711C27.1564 22.7734 27.8595 21.9629 29.0998 20.6641C31.4142 18.2129 32.4103 16.5039 32.9377 14.0625C33.2306 12.7344 33.2306 10.4004 32.9279 9.01367C32.0978 5.06836 29.5978 1.96289 26.2482 0.703121C24.8127 0.166012 24.1681 0.0585899 22.4689 0.0585899C21.1505 0.0683556 20.8283 0.0976524 19.9787 0.322262C19.4416 0.468746 18.5529 0.800777 17.9962 1.07421L16.9904 1.55273L16.2384 1.17187C14.1779 0.136715 11.9123 -0.214848 9.715 0.156246ZM12.7033 2.05078C13.6017 2.19726 14.4611 2.48046 15.5353 2.99804C16.8048 3.61328 17.1955 3.61328 18.465 2.99804C20.506 2.02148 22.049 1.76757 23.9826 2.09961C25.6818 2.40234 27.1955 3.18359 28.3966 4.41406C29.2365 5.2539 29.6369 5.83007 30.1935 6.98242C31.4728 9.64843 31.5802 12.832 30.4669 15.4297C29.9103 16.748 29.1486 17.7734 27.2541 19.7754C26.0334 21.0742 25.3595 21.9238 25.047 22.5781L24.8712 22.9492H17.0002H9.12906L8.95328 22.5781C8.64078 21.9238 7.96695 21.0742 6.74625 19.7754C4.85172 17.7734 4.09 16.748 3.53336 15.4297C2.42007 12.832 2.5275 9.64843 3.80679 6.98242C4.36343 5.83007 4.76382 5.2539 5.60367 4.41406C7.42984 2.54882 10.1349 1.65039 12.7033 2.05078ZM27.8693 25.0391C28.2892 25.2148 28.5236 25.5859 28.5236 26.084C28.5236 26.4062 28.465 26.543 28.1916 26.8164L27.8595 27.1484H17.0002H6.14078L5.80875 26.8164C5.53531 26.543 5.47672 26.4062 5.47672 26.084C5.47672 25.5957 5.70132 25.2148 6.11148 25.0391C6.55093 24.8437 27.4103 24.8437 27.8693 25.0391ZM23.133 30.1465L23.1037 31.2012H17.0002H10.8966L10.8673 30.1465L10.838 29.1016H17.0002H23.1623L23.133 30.1465ZM27.215 33.5352C27.5763 33.8965 27.6544 34.3359 27.4298 34.8145C27.1759 35.3711 27.6154 35.3516 17.0099 35.3516C9.64664 35.3516 7.17593 35.3223 6.99039 35.2344C6.66812 35.0879 6.45328 34.6875 6.45328 34.2187C6.45328 33.9453 6.5314 33.7891 6.78531 33.5352L7.11734 33.2031H17.0002H26.883L27.215 33.5352ZM23.133 38.3984L23.1623 39.4531H17.0002H10.8478V38.4473C10.8478 37.8906 10.8771 37.4023 10.9162 37.373C10.9455 37.334 13.7091 37.3145 17.0392 37.3242L23.1037 37.3535L23.133 38.3984ZM26.2873 41.7773C26.6193 42.1484 26.6779 42.7734 26.4142 43.1543C26.0529 43.6621 26.258 43.6523 17.0002 43.6523C7.74234 43.6523 7.94742 43.6621 7.58609 43.1543C7.23453 42.6465 7.48843 41.7285 8.05484 41.5039C8.16226 41.4551 12.2541 41.4258 17.1271 41.4355L26.0041 41.4551L26.2873 41.7773ZM21.1017 46.8262L19.881 48.0469H17.0002H14.1193L12.8986 46.8262L11.6779 45.6055H17.0002H22.3224L21.1017 46.8262Z' fill='white'/%3E%3Cpath d='M13.0355 5.06836C12.6937 5.27343 12.5082 5.69336 12.5766 6.08398C12.6449 6.42578 13.4945 7.24609 14.393 7.84179C16.1019 8.97461 17.9379 8.97461 19.6273 7.83203C20.5355 7.22656 21.3558 6.41601 21.4242 6.08398C21.5414 5.43945 20.9262 4.79492 20.3109 4.93164C20.1449 4.9707 19.725 5.26367 19.3637 5.57617C17.6449 7.10937 16.3461 7.11914 14.6859 5.61523C14.1391 5.11718 13.7387 4.88281 13.4555 4.88281C13.3871 4.88281 13.2016 4.9707 13.0355 5.06836Z' fill='white'/%3E%3C/svg%3E%0A");;
}
.service .list ul li.list02 a .txt h3::before {
    bottom: 43px;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='44' viewBox='0 0 48 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.5137 0.708984C39.2891 0.914062 39.0156 1.49023 38.4297 3.01367L37.6289 5.04492L37.0234 4.46875C35.4902 3.0332 33.3516 2.03711 31.1152 1.70508C30.1191 1.56836 28.0977 1.63672 27.1211 1.85156C26.418 2.00781 25.3145 2.39844 24.0742 2.94531C23.4883 3.20898 23.3516 3.22852 22.2188 3.22852H20.998L19.8555 2.71094C18.2539 1.98828 17.1113 1.71484 15.4707 1.64648C13.8984 1.57812 12.8926 1.70508 11.5742 2.125C7.41406 3.45312 4.52344 6.88086 3.49805 11.6758C3.24414 12.8672 3.25391 15.7676 3.50781 16.998C3.87891 18.7656 4.5918 20.416 5.59766 21.8223C6.22266 22.7012 6.75 23.3066 8.3418 24.9863C8.98633 25.6797 9.52344 26.2852 9.52344 26.334C9.52344 26.3828 9.46484 26.4219 9.38672 26.4219C8.99609 26.4219 8.73242 26.9102 7.72656 29.4883C7.16016 30.9336 6.66211 32.1543 6.61328 32.2031C6.56445 32.252 5.34375 32.75 3.89844 33.3164C1.02734 34.4395 0.832031 34.5566 0.832031 35.2109C0.832031 35.8652 1.02734 35.9824 3.9082 37.1152C5.36328 37.6816 6.57422 38.1797 6.61328 38.2188C6.65234 38.2578 7.15039 39.4785 7.7168 40.9238C8.84961 43.7949 8.97656 44 9.61133 44C10.2754 44 10.373 43.8535 11.5254 40.9238C12.2188 39.166 12.6484 38.1895 12.7656 38.1309C12.9219 38.0527 13.0684 38.1504 13.6738 38.7656C14.8652 39.957 16.3496 40.8262 17.9219 41.2559C18.9473 41.5488 19.4551 41.5293 19.7969 41.1973L20.0703 40.9336V34.957C20.0703 31.1582 20.1094 28.7949 20.168 28.4922C20.2949 27.9258 20.7246 27.3691 21.252 27.1055C21.6914 26.8809 22.4727 26.8516 22.9316 27.0371C23.3613 27.2227 23.9375 27.8867 24.0645 28.3457C24.1328 28.5898 24.1719 30.8164 24.1719 34.8008V40.8945L24.4551 41.1777C24.8262 41.5391 25.3047 41.5488 26.457 41.2168C29.8359 40.2402 32.375 37.5156 33.3125 33.8535C33.5566 32.8867 33.7422 30.9922 33.7422 29.332C33.7422 27.7305 34.0742 27.1445 36.3789 24.7129C39.377 21.5586 40.4805 19.5469 40.9688 16.4121C41.125 15.3965 41.2617 14.9668 41.9844 13.1309L42.834 11.0215L45.1484 10.1133C47.7949 9.08789 48.0586 8.91211 47.9707 8.22852C47.9414 8.01367 47.834 7.75977 47.7363 7.66211C47.6387 7.55469 46.5059 7.06641 45.2363 6.55859C43.957 6.06055 42.873 5.61133 42.834 5.5625C42.7852 5.51367 42.3457 4.42969 41.8477 3.15039C41.1934 1.49023 40.8613 0.767578 40.6953 0.630859C40.3438 0.357422 39.8555 0.386719 39.5137 0.708984ZM17.375 3.86328C17.8047 3.9707 18.5664 4.26367 19.084 4.49805C20.2852 5.04492 21.0566 5.23047 22.2383 5.23047C23.4785 5.23047 23.9961 5.11328 25.3047 4.53711C26.7695 3.89258 27.6875 3.6582 29.0742 3.59961C31.2812 3.49219 33.0684 4 34.875 5.24023C35.2559 5.50391 35.666 5.82617 35.7832 5.95312L35.998 6.17773L34.6504 6.69531C32.375 7.57422 32.2383 7.67188 32.2578 8.36523C32.2773 8.95117 32.4141 9.03906 34.9727 10.0645L37.4043 11.041L38.2637 13.1895C39.2402 15.6309 39.2305 15.5723 38.7715 17.3984C38.2637 19.3906 37.248 20.9629 34.7676 23.5898C33.2832 25.1621 32.4434 26.2852 32.0723 27.2031C31.8867 27.6719 31.8477 28.0234 31.7793 29.8887C31.6816 32.2129 31.5449 33.1406 31.0957 34.3613C30.6562 35.582 30.0996 36.4316 29.1035 37.418C28.332 38.1992 28.0781 38.3848 27.1895 38.8145L26.1738 39.3125L26.125 33.6777C26.0762 28.2285 26.0664 28.0137 25.8711 27.5352C25.4219 26.4512 24.7773 25.7676 23.7129 25.2695C23.2051 25.0352 23.0293 25.0059 22.1211 25.0059C21.2129 25.0059 21.0273 25.0352 20.5391 25.2695C19.8945 25.5723 19.084 26.2949 18.7422 26.8613C18.2051 27.7891 18.1855 27.9062 18.127 31.2656L18.0684 34.3906L15.4316 33.3555C13.166 32.457 12.7852 32.2715 12.7363 32.0762C12.6973 31.9492 12.6582 31.0898 12.6582 30.1816C12.6387 27.0762 12.3359 26.4121 9.5918 23.4727C7.57031 21.2852 6.96484 20.5039 6.31055 19.2246C5.08008 16.7734 4.88477 13.3555 5.82227 10.5625C7.05273 6.88086 9.66992 4.44922 13.1953 3.7168C14.1816 3.51172 16.3691 3.58984 17.375 3.86328ZM40.666 5.45508C40.9297 6.13867 41.2129 6.8125 41.3008 6.92969C41.3984 7.08594 41.8867 7.33984 42.8633 7.73047C43.6445 8.0332 44.2695 8.31641 44.2402 8.33594C44.2207 8.36523 43.5957 8.61914 42.8535 8.91211C42.1113 9.20508 41.457 9.48828 41.3887 9.53711C41.3301 9.5957 41.0176 10.2695 40.7148 11.0508C40.4023 11.8223 40.1191 12.4277 40.0801 12.3887C40.041 12.3398 39.7773 11.7441 39.5137 11.0508C39.2402 10.3574 38.9473 9.70312 38.8594 9.60547C38.7715 9.51758 38.0586 9.18555 37.2871 8.88281L35.8711 8.32617L37.2383 7.7793C37.9902 7.47656 38.6934 7.1543 38.8008 7.05664C38.9668 6.90039 39.4062 5.92383 40.002 4.36133C40.0508 4.23438 40.1094 4.14648 40.1387 4.16602C40.1582 4.19531 40.3926 4.77148 40.666 5.45508ZM10.3438 31.8418C10.7148 32.7793 11.0957 33.6094 11.1738 33.6875C11.2617 33.7656 12.082 34.127 12.9902 34.4883C13.9082 34.8496 14.6699 35.1621 14.6895 35.1816C14.7773 35.25 14.5918 35.3281 13.7031 35.6504C12.5117 36.0801 11.3691 36.5684 11.1738 36.7344C11.0859 36.8125 10.7148 37.6426 10.3438 38.5801C9.97266 39.5176 9.65039 40.2891 9.62109 40.2891C9.5918 40.2891 9.26953 39.5176 8.89844 38.5898C8.52734 37.6523 8.15625 36.8223 8.07812 36.7344C8 36.6562 7.16992 36.2949 6.24219 35.9238C5.30469 35.5625 4.54297 35.2402 4.54297 35.2109C4.54297 35.1816 5.27539 34.8789 6.17383 34.5273C7.0625 34.1758 7.89258 33.8145 8.00977 33.7266C8.14648 33.6191 8.47852 32.9062 8.89844 31.8418C9.26953 30.9043 9.5918 30.1328 9.62109 30.1328C9.65039 30.1328 9.97266 30.9043 10.3438 31.8418ZM18.0977 38.4824L18.0684 39.3125L17.0918 38.834C16.457 38.5215 15.9102 38.1602 15.5293 37.8184L14.9434 37.2715L15.334 37.1152C15.5488 37.0273 16.252 36.7539 16.8965 36.5L18.0684 36.0312L18.0977 36.8418C18.1074 37.291 18.1074 38.0234 18.0977 38.4824Z' fill='white'/%3E%3C/svg%3E%0A");
}
.service .list ul li.list03 a .txt h3::before {
    bottom: 36px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='33' viewBox='0 0 50 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.7324 0.130863C29.0918 0.443363 27.8418 1.11719 26.6113 2.36719C25.3613 3.63672 24.5605 5.15039 24.2188 6.89844C24.1504 7.23047 24.0723 7.50391 24.0527 7.50391C24.0332 7.50391 23.8672 7.39649 23.7012 7.26953C22.8711 6.6543 21.6602 6.20508 20.3711 6.03906C19.3457 5.91211 18.9062 5.63867 18.2129 4.72071C14.9707 0.414066 8.74023 1.14649 6.06445 6.15625C5.39062 7.39649 5.22461 8.12891 5.22461 9.70117C5.23438 10.8926 5.27344 11.2441 5.54688 12.416C5.9668 14.2031 5.95703 14.5742 5.49805 15.4141L5.13672 16.0781L4.49219 16.2344C2.31445 16.7617 0.595703 18.5 0.146484 20.6484C0.0292969 21.1855 0 22.3281 0 26.332V31.3516L0.332031 31.6836L0.664062 32.0156H25H49.3359L49.668 31.6836L50 31.3516V26.332C50 20.7363 49.9707 20.4922 49.3555 19.2227C48.8965 18.3047 47.8809 17.2598 46.9727 16.791C46.6211 16.6055 46.3184 16.4492 46.2988 16.4297C46.2793 16.4102 46.6309 16 47.0801 15.5117C48.0957 14.3984 48.6426 13.6367 49.1309 12.6309C50.1074 10.6191 50.2539 8.15821 49.541 5.89258C48.0078 1.01954 43.0664 -1.28515 38.5254 0.755863C37.8516 1.0586 37.6465 1.10743 37.0117 1.09766C36.3867 1.09766 36.1719 1.04883 35.5469 0.775394C34.0039 0.0722694 32.2559 -0.15234 30.7324 0.130863ZM33.1641 2.04492C33.4766 2.10352 34.248 2.35742 34.8633 2.60156C35.9473 3.03125 36.0156 3.05078 37.0117 3.05078C38.0078 3.05078 38.0762 3.04102 39.1699 2.60156C40.5273 2.05469 41.3672 1.88868 42.373 1.97657C43.8379 2.11328 44.9805 2.66016 46.0547 3.74414C46.8359 4.52539 47.5098 5.7461 47.8223 6.91797C48.0859 7.9043 48.0664 9.87696 47.7734 10.8242C47.3633 12.1328 46.9531 12.7578 45.2637 14.584C43.3105 16.7031 43.1738 17.0059 43.0664 19.3691C42.959 21.6445 42.627 22.6211 41.6016 23.7051C41.1035 24.2129 40.3027 24.7891 40.0684 24.7891C39.9707 24.7891 39.9414 24.0957 39.9414 21.2344V17.6797L39.6191 17.0645C38.5059 14.9063 35.4688 14.9258 34.3848 17.0938L34.082 17.6895V21.2441C34.082 23.6953 34.0527 24.7891 33.9746 24.7891C33.75 24.7891 32.9492 24.2324 32.4707 23.7539C31.416 22.6797 31.0645 21.6641 30.957 19.3691C30.8496 17.0059 30.7129 16.7031 28.7598 14.584C27.0703 12.7578 26.6602 12.1328 26.25 10.8242C26.0645 10.2188 26.0254 9.86719 26.0254 8.82227C26.0254 7.31836 26.1719 6.6836 26.7969 5.4043C28.0371 2.89453 30.5566 1.56641 33.1641 2.04492ZM14.0625 4.05664C15.0977 4.33985 16.0059 5.00391 16.7676 6.04883C17.5586 7.12305 18.4668 7.69922 19.6875 7.89453C21.543 8.19727 22.2754 8.5 23.1348 9.36914C24.3945 10.6191 24.8438 12.2988 24.4531 14.2227C24.1797 15.5801 23.3789 16.9082 22.3633 17.6992C21.6895 18.2168 20.8789 18.5781 19.3945 19.0273C17.1484 19.7012 16.6406 20.043 15.7422 21.5469C14.873 23.0117 14.0332 23.7539 12.8613 24.125C12.3047 24.291 11.5234 24.3594 11.5234 24.2422C11.5234 24.2031 12.1191 23.1484 12.8516 21.8887C13.584 20.6387 14.248 19.3984 14.3262 19.1445C14.8438 17.4648 13.3203 15.668 11.5234 15.834C10.293 15.9414 9.91211 16.332 8.23242 19.2422C7.49023 20.5215 6.85547 21.5664 6.82617 21.5664C6.69922 21.5664 6.32812 20.541 6.23047 19.9355C6.15234 19.4473 6.17188 19.1445 6.28906 18.5586C6.43555 17.8262 6.5625 17.5234 7.37305 16.0098C7.72461 15.3555 7.76367 15.209 7.79297 14.4473C7.82227 13.7539 7.76367 13.3242 7.4707 11.9961C6.9043 9.4668 7.02148 8.31446 8.01758 6.66406C8.67188 5.58008 9.98047 4.48633 11.0547 4.125C12.0898 3.78321 12.998 3.76367 14.0625 4.05664ZM26.9336 15.5117L27.4512 16.0977H26.709C26.0352 16.0977 25.9668 16.0781 26.0254 15.9219C26.0547 15.834 26.1328 15.5703 26.2012 15.3359C26.2598 15.1113 26.3379 14.9258 26.3672 14.9258C26.3965 14.9258 26.6504 15.1895 26.9336 15.5117ZM37.4512 17.5137C37.6172 17.6016 37.8125 17.7676 37.8711 17.8848C37.9492 18.0313 37.998 19.3887 38.0078 22.25C38.0371 26.0684 38.0469 26.4297 38.2129 26.6738C38.4961 27.1035 38.8086 27.1719 39.6289 26.9961C41.582 26.5859 43.3301 25.1699 44.2383 23.2754C44.7852 22.123 44.9316 21.4395 44.9902 19.7598C45.0195 18.9492 45.0781 18.2559 45.1172 18.207C45.2637 18.0605 46.4551 18.6953 46.9238 19.1738C47.1777 19.418 47.5195 19.916 47.6855 20.2773L47.998 20.9316L48.0273 25.4922L48.0566 30.0625H25H1.94336L1.97266 25.4922L2.00195 20.9316L2.31445 20.2773C2.65625 19.5547 3.29102 18.8516 3.87695 18.5586L4.24805 18.3633V19.4082C4.25781 20.9219 4.61914 21.9766 5.53711 23.1484C6.30859 24.125 7.08984 24.4668 7.60742 24.0273C7.71484 23.9395 8.55469 22.5625 9.47266 20.9805C10.3906 19.3984 11.2305 18.0215 11.3477 17.9238C11.7383 17.5918 12.3242 17.8164 12.4512 18.3438C12.5 18.5391 12.1484 19.2129 10.7422 21.625C8.82812 24.9258 8.75977 25.1113 9.21875 25.5996C9.59961 26.0098 10.4199 26.2051 11.7676 26.2051C12.7832 26.1953 13.0371 26.166 13.6426 25.9414C15.1465 25.4043 16.3672 24.3203 17.373 22.6211C18.0273 21.5371 18.1934 21.4199 20.0488 20.873C22.1191 20.248 23.584 19.4375 24.4434 18.4316L24.7754 18.0508H26.8359C29.2578 18.0508 28.9746 17.8164 29.043 19.8574C29.0918 21.4297 29.248 22.1426 29.7852 23.2754C30.6934 25.1699 32.4414 26.5859 34.3945 26.9961C35.2148 27.1719 35.5273 27.1035 35.8105 26.6738C35.9668 26.4297 35.9863 26.0391 36.0352 22.2012C36.0645 19.6719 36.123 17.9336 36.1816 17.8359C36.2891 17.6602 36.7871 17.3672 36.9922 17.3672C37.0703 17.3672 37.2754 17.4355 37.4512 17.5137Z' fill='white'/%3E%3Cpath d='M33.3398 3.68555C32.998 3.83203 32.7148 4.27148 32.7148 4.65234C32.7148 4.93555 32.793 5.08203 33.1836 5.44336C33.7402 5.99023 34.7852 6.54687 35.6445 6.77148C36.123 6.89844 36.5332 6.92773 37.3047 6.88867C38.4766 6.83984 39.1211 6.63477 40.1074 6.01953C41.3086 5.25781 41.6016 4.61328 41.0254 3.96875C40.6152 3.50977 40.127 3.51953 39.5508 4.01758C39.3066 4.22266 38.877 4.50586 38.5742 4.65234C38.0957 4.88672 37.9297 4.91602 37.0117 4.91602C36.0938 4.91602 35.9277 4.88672 35.4492 4.65234C35.1465 4.50586 34.7266 4.23242 34.502 4.03711C34.0723 3.66602 33.6719 3.54883 33.3398 3.68555Z' fill='white'/%3E%3Cpath d='M13.6617 7.49417C13.2516 7.90433 13.2711 8.43167 13.7301 9.35941C14.3453 10.5899 15.5953 11.6055 16.9332 11.9571C17.5387 12.1231 18.7008 12.1328 19.2965 11.9864C19.5504 11.918 19.8141 11.7715 19.9215 11.625C20.1949 11.2832 20.1754 10.7071 19.8824 10.3653C19.6481 10.0918 19.6383 10.0918 18.4859 10.0918C17.4898 10.0918 17.275 10.0625 16.8941 9.87698C16.2301 9.54495 15.732 8.99808 15.3707 8.22659C15.1949 7.83597 14.9508 7.45511 14.8336 7.36722C14.4723 7.11331 13.9938 7.17191 13.6617 7.49417Z' fill='white'/%3E%3C/svg%3E%0A");
}
.service .list ul li.list04 a .txt h3::before {
    bottom: 42px;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='39' viewBox='0 0 50 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1585 0.865234C15.4202 1.17773 13.9651 2.11523 13.0276 3.54102L12.6663 4.07812L12.0217 3.49219C11.26 2.79883 10.0979 2.19336 9.12135 1.98828C8.21315 1.79297 5.73268 1.79297 4.82447 1.98828C3.08619 2.34961 1.48463 3.57031 0.693614 5.13281C-0.0192765 6.56836 -0.0192765 6.58789 0.0100203 13.3457L0.0393172 19.3418L0.312755 19.5762L0.586192 19.8105H24.9905H49.3948L49.6682 19.5762L49.9417 19.3418L49.971 13.375C50.0003 6.64648 49.9905 6.58789 49.2971 5.17188C48.5159 3.58008 46.9143 2.35938 45.1565 1.98828C44.2483 1.79297 41.7678 1.79297 40.8596 1.98828C39.8831 2.19336 38.721 2.79883 37.9592 3.49219L37.3147 4.07812L36.9534 3.54102C36.1917 2.37891 35.0784 1.53906 33.7405 1.08984C32.9885 0.835938 32.8616 0.826172 30.9963 0.826172C29.1311 0.826172 29.0042 0.835938 28.2522 1.08984C27.0608 1.49023 26.0061 2.23242 25.2542 3.20898L24.9905 3.55078L24.7268 3.20898C23.9749 2.23242 22.9104 1.48047 21.7288 1.09961C21.0256 0.865234 20.7522 0.835938 19.2776 0.806641C18.3694 0.796875 17.4124 0.816406 17.1585 0.865234ZM20.596 2.81836C22.1682 3.12109 23.4671 4.32227 23.8772 5.88477C23.9846 6.27539 24.0139 7.57422 24.0139 12.1152V17.8574H18.9846H13.9553V12.1152C13.9553 5.9043 13.9651 5.86523 14.4924 4.87891C15.0296 3.90234 16.2014 3.04297 17.2952 2.82812C17.8909 2.71094 19.9905 2.70117 20.596 2.81836ZM32.6077 2.81836C34.1799 3.12109 35.4788 4.32227 35.8889 5.88477C35.9963 6.27539 36.0256 7.57422 36.0256 12.1152V17.8574H30.9963H25.9671V12.1152C25.9671 5.9043 25.9768 5.86523 26.5042 4.87891C27.0413 3.90234 28.2131 3.04297 29.3069 2.82812C29.9026 2.71094 32.0022 2.70117 32.6077 2.81836ZM8.76979 3.90234C10.2639 4.24414 11.553 5.5332 11.8948 7.02734C11.9631 7.29102 12.0022 9.50781 12.0022 12.6523V17.8574H6.97291H1.94361V12.6523C1.94361 9.50781 1.98268 7.29102 2.05104 7.02734C2.38307 5.5625 3.58424 4.33203 5.06861 3.93164C5.60572 3.78516 8.17408 3.76562 8.76979 3.90234ZM44.8049 3.90234C46.2991 4.24414 47.5881 5.5332 47.9299 7.02734C47.9983 7.29102 48.0374 9.50781 48.0374 12.6523V17.8574H43.0081H37.9788V12.6523C37.9788 9.50781 38.0178 7.29102 38.0862 7.02734C38.4182 5.5625 39.6194 4.33203 41.1038 3.93164C41.6409 3.78516 44.2092 3.76562 44.8049 3.90234Z' fill='white'/%3E%3Cpath d='M15.9961 7.59375L15.7129 7.87695V11.5586V15.2402L15.9961 15.5234L16.2793 15.8066H18.9844H21.6895L21.9727 15.5234L22.2559 15.2402V11.5586V7.87695L21.9727 7.59375L21.6895 7.31055H18.9844H16.2793L15.9961 7.59375ZM20.3027 11.5586V13.8535H18.9844H17.666V11.5586V9.26367H18.9844H20.3027V11.5586Z' fill='white'/%3E%3Cpath d='M28.0078 7.59375L27.7246 7.87695V11.5586V15.2402L28.0078 15.5234L28.291 15.8066H30.9961H33.7012L33.9844 15.5234L34.2676 15.2402V11.5586V7.87695L33.9844 7.59375L33.7012 7.31055H30.9961H28.291L28.0078 7.59375ZM32.3145 11.5586V13.8535H30.9961H29.6777V11.5586V9.26367H30.9961H32.3145V11.5586Z' fill='white'/%3E%3Cpath d='M3.98438 7.59375L3.70117 7.87695V11.5586V15.2402L3.98438 15.5234L4.26758 15.8066H6.97266H9.67773L9.96094 15.5234L10.2441 15.2402V11.5586V7.87695L9.96094 7.59375L9.67773 7.31055H6.97266H4.26758L3.98438 7.59375ZM8.29102 11.5586V13.8535H6.97266H5.6543V11.5586V9.26367H6.97266H8.29102V11.5586Z' fill='white'/%3E%3Cpath d='M40.0195 7.59375L39.7363 7.87695V11.5586V15.2402L40.0195 15.5234L40.3027 15.8066H43.0078H45.7129L45.9961 15.5234L46.2793 15.2402V11.5586V7.87695L45.9961 7.59375L45.7129 7.31055H43.0078H40.3027L40.0195 7.59375ZM44.3262 11.5586V13.8535H43.0078H41.6895V11.5586V9.26367H43.0078H44.3262V11.5586Z' fill='white'/%3E%3Cpath d='M0.420016 23.2773C-0.00967149 23.5703 -0.0194371 23.707 0.00985976 29.0488C0.0391566 33.9707 0.0489223 34.1367 0.254 34.752C0.908297 36.666 2.45127 38.1797 4.38486 38.7754C5.04892 38.9805 5.29306 39 7.02158 39C8.81845 38.9902 8.96494 38.9805 9.71689 38.7266C10.9083 38.3359 11.963 37.584 12.7149 36.6074L12.9786 36.2656L13.2423 36.6074C13.9942 37.584 15.0489 38.3262 16.2403 38.7266C16.9923 38.9805 17.1192 38.9902 18.9845 38.9902C20.8497 38.9902 20.9767 38.9805 21.7286 38.7266C22.92 38.3262 23.9747 37.584 24.7267 36.6074L24.9903 36.2656L25.254 36.6074C26.006 37.584 27.0606 38.3262 28.252 38.7266C29.004 38.9805 29.131 38.9902 30.9962 38.9902C32.8614 38.9902 32.9884 38.9805 33.7403 38.7266C34.9317 38.3262 35.9864 37.584 36.7384 36.6074L37.002 36.2656L37.2657 36.6074C38.0177 37.584 39.0724 38.3359 40.2638 38.7266C41.0157 38.9805 41.1622 38.9902 42.9591 39C44.6876 39 44.9317 38.9805 45.5958 38.7754C47.5294 38.1699 49.0724 36.6758 49.7267 34.752C49.9317 34.1367 49.9415 33.9707 49.9708 29.0879C49.9903 26.3242 49.9708 23.9609 49.9415 23.834C49.9122 23.707 49.7657 23.4922 49.629 23.3652L49.3751 23.1309H25.0001C3.77939 23.1309 0.595797 23.1504 0.420016 23.2773ZM12.002 29.2539C12.002 32.4863 11.9728 33.5508 11.8653 33.9316C11.4552 35.4941 10.1563 36.6953 8.58408 36.998C7.92002 37.125 6.02549 37.125 5.36142 36.998C3.78916 36.6953 2.49033 35.4941 2.08017 33.9316C1.97275 33.5508 1.94345 32.4863 1.94345 29.2539V25.084H6.97275H12.002V29.2539ZM24.0138 29.2539C24.0138 32.4863 23.9845 33.5508 23.877 33.9316C23.4669 35.4941 22.1681 36.6953 20.5958 36.998C19.9317 37.125 18.0372 37.125 17.3731 36.998C15.8009 36.6953 14.502 35.4941 14.0919 33.9316C13.9845 33.5508 13.9552 32.4863 13.9552 29.2539V25.084H18.9845H24.0138V29.2539ZM36.0255 29.2539C36.0255 32.4863 35.9962 33.5508 35.8888 33.9316C35.4786 35.4941 34.1798 36.6953 32.6075 36.998C31.9435 37.125 30.0489 37.125 29.3849 36.998C27.8126 36.6953 26.5138 35.4941 26.1036 33.9316C25.9962 33.5508 25.9669 32.4863 25.9669 29.2539V25.084H30.9962H36.0255V29.2539ZM48.0372 29.2539C48.0372 32.4863 48.0079 33.5508 47.9005 33.9316C47.4903 35.4941 46.1915 36.6953 44.6192 36.998C43.9552 37.125 42.0606 37.125 41.3966 36.998C39.8243 36.6953 38.5255 35.4941 38.1153 33.9316C38.0079 33.5508 37.9786 32.4863 37.9786 29.2539V25.084H43.0079H48.0372V29.2539Z' fill='white'/%3E%3Cpath d='M3.98438 27.3203L3.70117 27.6035V30.7969V33.9902L3.98438 34.2734L4.26758 34.5566H6.97266H9.67773L9.96094 34.2734L10.2441 33.9902V30.7969V27.6035L9.96094 27.3203L9.67773 27.0371H6.97266H4.26758L3.98438 27.3203ZM8.29102 30.7969V32.6035H6.97266H5.6543V30.7969V28.9902H6.97266H8.29102V30.7969Z' fill='white'/%3E%3Cpath d='M15.9961 27.3203L15.7129 27.6035V30.7969V33.9902L15.9961 34.2734L16.2793 34.5566H18.9844H21.6895L21.9727 34.2734L22.2559 33.9902V30.7969V27.6035L21.9727 27.3203L21.6895 27.0371H18.9844H16.2793L15.9961 27.3203ZM20.3027 30.7969V32.6035H18.9844H17.666V30.7969V28.9902H18.9844H20.3027V30.7969Z' fill='white'/%3E%3Cpath d='M28.0078 27.3203L27.7246 27.6035V30.7969V33.9902L28.0078 34.2734L28.291 34.5566H30.9961H33.7012L33.9844 34.2734L34.2676 33.9902V30.7969V27.6035L33.9844 27.3203L33.7012 27.0371H30.9961H28.291L28.0078 27.3203ZM32.3145 30.7969V32.6035H30.9961H29.6777V30.7969V28.9902H30.9961H32.3145V30.7969Z' fill='white'/%3E%3Cpath d='M40.0195 27.3203L39.7363 27.6035V30.7969V33.9902L40.0195 34.2734L40.3027 34.5566H43.0078H45.7129L45.9961 34.2734L46.2793 33.9902V30.7969V27.6035L45.9961 27.3203L45.7129 27.0371H43.0078H40.3027L40.0195 27.3203ZM44.3262 30.7969V32.6035H43.0078H41.6895V30.7969V28.9902H43.0078H44.3262V30.7969Z' fill='white'/%3E%3C/svg%3E%0A");
}
/********** 1024px 이하부턴 애니메이션 x **********/
@media screen and (min-width:1025px) {
    .service .list ul li a:hover .photo img {
        transform: scale3d(1.1, 1.1, 1);
    }
}/* @media */
/********** 1025px ~ 1300px **********/
@media screen and (max-width:1300px) {
    .service .tit {
        height: 250px;
    }
    .service .list ul li a .photo {
        height: 400px;
    }
    .service .list ul li a .txt h3 {
        font-size: 36px;
    }
    .service .list ul li a .txt p {
        display: none;
    }
}/* @media */
/********** 769px ~ 1024px **********/
@media screen and (max-width:1024px) {
    .service .tit {
        height: 230px;
    }
    .service .tit p {
        font-size: 16px;
    }
    .service .list ul {
        flex-wrap: wrap;
    }
    .service .list ul li {
        width: 50%;
    }
    .service .list ul li a .photo {
        height: 320px;
    }
}/* @media */
/********** 480px ~ 768px **********/
@media screen and (max-width:768px) {
    .service .tit {
        height: 180px;
    }
    .service .tit p {
        font-size: 14px;
        margin: 7px 0 0 0;
    }
    .service .list ul {
        flex-wrap: wrap;
    }
    .service .list ul li {
        width: 50%;
    }
    .service .list ul li a .photo {
        height: 270px;
    }
        .service .list ul li a .txt h3 {
        font-size: 24px;
    }
    .service .list ul li.list01 a .txt h3::before {
        bottom: 40px;
    }
    .service .list ul li.list02 a .txt h3::before {
        bottom: 33px;
    }
    .service .list ul li.list03 a .txt h3::before {
        bottom: 26px;
    }
    .service .list ul li.list04 a .txt h3::before {
        bottom: 32px;
    }
}/* @media */
/********** ~ 480px **********/
@media screen and (max-width:480px) {
    .service .tit {
        height: 120px;
    }
    .service .tit p {
        font-size: 12px;
        margin: 5px 0 0 0;
    }
    .service .list ul li a .photo {
        height: 200px;
    }
    .service .list ul li a .txt {
        bottom: 20px;
        left: 20px;
    }
    .service .list ul li a .txt h3 {
        font-size: 20px;
    }
    .service .list ul li a .txt h3::before {
        display: none;
    }
}/* @media */
/****************************** section - info ******************************/
.info {
    margin: 135px 0 135px 0;
}
.info .inner {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.info .inner .map {
    width: 49.04%;
    height: 463px;
}
.info .inner .map iframe {
    width: 100%;
    height: 100%;
}
.info .inner .txt .location h3 {
    font-size: 28px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--sub-color);
    margin: 0 0 15px 0;
}
.info .inner .txt .location p {
    margin: 5px 0 0 0;
}
.info .inner .txt .book {
    display: flex;
    margin: 65px 0 0 0;
    gap: 24px;
}
.info .inner .txt .book a {
    display: flex;
    align-items: center;
    width: 250px;
    height: 80px;
    color: #fff;
    background-color: var(--point-color);
    border: 1px solid var(--point-color);
    position: relative;
    transition: 0.3s;
}
.info .inner .txt .book a span {
    margin: 0 0 0 30px;
    font-size: 22px;
}
.info .inner .txt .book a span::after {
    position: absolute;
    content: "";
    right: 30px;
    top: 24px;
    width: 18px;
    height: 18px;
    padding: 6px;
    border-radius: 50%;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.69967 7L0.333008 1.63333L1.96634 0L8.96634 7L1.96634 14L0.333008 12.3667L5.69967 7Z' fill='%2300656E'/%3E%3C/svg%3E%0A");
}
.info .inner .txt .time {
    margin: 100px 0 0 0;
    display: flex;
    gap: 50px;
}
.info .inner .txt .time h3 {
    font-size: 28px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--sub-color);
}
/********** 1024px 이하부턴 애니메이션 x **********/
@media screen and (min-width:1025px) {
    .info .inner .txt .book a:hover {
        background-color: #555;
        border: 1px solid #555;
    }
    .info .inner .txt .book a:hover span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.69967 7L0.333008 1.63333L1.96634 0L8.96634 7L1.96634 14L0.333008 12.3667L5.69967 7Z' fill='%23555555'/%3E%3C/svg%3E%0A");
    }    
}/* @media */
/********** 1025px ~ 1300px **********/
@media screen and (max-width:1300px) {
    .info .inner {
        gap: 30px;
    }
}/* @media */
/********** 769px ~ 1024px **********/
@media screen and (max-width:1024px) {
    .info {
        margin: 80px 0 180px 0;
    }
    .info .inner .map {
        width: 40.55%;
        height: 382px;
    }
    .info .inner .txt .location h3 {
        font-size: 24px;
        margin: 0 0 10px 0;
    }
    .info .inner .txt .location p {
        font-size: 16px;
        margin: 3px 0 0 0;
    }
    .info .inner .txt .book {
        margin: 50px 0 0 0;
        gap: 20px;
    }
    .info .inner .txt .book a {
        width: 220px;
        height: 70px;
    }
    .info .inner .txt .book a span {
        font-size: 20px;
        margin: 0 0 0 25px;
    }
    .info .inner .txt .book a span::after {
        right: 25px;
        top: 20px;
        width: 14px;
        height: 14px;
    }
    .info .inner .txt .time {
        margin: 40px 0 0 0;
        display: flex;
        gap: 35px;
    }
    .info .inner .txt .time h3 {
        font-size: 24px;
    }
    .info .inner .txt .time .hour {
        font-size: 16px;
    }
}/* @media */
/********** 480px ~ 768px **********/
@media screen and (max-width:768px) {
    .info {
        margin: 40px 0 40px 0;
    }
    .info .inner {
        display: block;
        gap: 0;
    }
    .info .inner .txt .book {
        margin: 30px 0 0 0;
    }
    .info .inner .txt .book a {
        width: 200px;
        height: 60px;
    }
    .info .inner .txt .book a span {
        font-size: 18px;
        margin: 0 0 0 20px;
    }
    .info .inner .txt .book a span::after {
        right: 20px;
        top: 18px;
        width: 12px;
        height: 12px;
    }
    .info .inner .map {
        width: 100%;
    }
    .info .inner .txt .location h3 {
        margin: 20px 0 10px 0;
    }
    .info .inner .txt .book {
        gap: 20px;
    }
    .info .inner .txt .time {
        margin: 30px 0 0 0;
        gap: 24px;
    }
}/* @media */
/********** ~ 480px **********/
@media screen and (max-width:480px) {
    .info .inner .txt .location h3 {
        font-size: 20px;
    }
    .info .inner .txt .location p {
        font-size: 14px;
    }
    .info .inner .txt .book {
        flex-direction: column;
        gap: 10px;
    }
    .info .inner .txt .time h3 {
        font-size: 20px;
    }
    .info .inner .txt .time .hour {
        font-size: 14px;
    }
}/* @media */