@import url(common.css);
@import url(default.css);
@import url(font.css);
@import url(layout.css);

/****************************** sec01 ******************************/
.sec01 {
    position: relative; /* .txt_wrap, .ctrl_wrap의 기준 */
    color: #fff;
}
.sec01 .swiper-slide .photo {
    height: 100dvh;
    min-height: 600px;
    overflow: hidden;
}
.sec01 .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}
.sec01 .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.sec01 .swiper-slide .txt_wrap {
    position: absolute; /* .sec01을 기준으로 정렬 */
    left: 0;
    bottom: 30%;
    width: 100%;
}
.sec01 .swiper-slide .txt_wrap .txt h2 {
    font-size: 70px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin-bottom: 5px;
}
.sec01 .swiper-slide .txt_wrap .txt h2 br {
    display: none;
}
.sec01 .ctrl_wrap {
    display: flex;
    position: absolute; /* .sec01을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 25%;
    z-index: 10;
    gap: 5px;
}
.sec01 .ctrl_wrap button {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.sec01 .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66667 13.6663L0 6.99967L6.66667 0.333008L7.85 1.51634L2.36667 6.99967L7.85 12.483L6.66667 13.6663Z' fill='white'/%3E%3C/svg%3E%0A");
}
.sec01 .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 0.33366L8 7.00033L1.33333 13.667L0.149999 12.4837L5.63333 7.00033L0.149999 1.51699L1.33333 0.33366Z' fill='white'/%3E%3C/svg%3E%0A");
}
.sec01 .btn_scroll {
    position: absolute; /* .sec01을 기준으로 정렬 */
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    animation: btn_scroll_move 1.0s infinite linear;
    z-index: 10;
    color: #fff;
}
.sec01 .btn_scroll span {
    position: relative; /* span::after의 기준 */
    margin-bottom: 5px;
}
.sec01 .btn_scroll span::after {
    content: "";
    position: absolute; /* span을 기준으로 정렬 */
    left: 50%;
    top: 100%; /* span 아래에 배치 */
    transform: translateX(-50%); /* 수평 가운데에 배치 */
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2_103' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_103)'%3E%3Cpath d='M12 22L5 15L6.4 13.575L11 18.175V11H13V18.175L17.6 13.6L19 15L12 22ZM11 9V6H13V9H11ZM11 4V2H13V4H11Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@keyframes btn_scroll_move {
    0%, 100% {
        transform:translate(-50%,-50%)
    }
    50% {
        transform: translate(-50%,-80%);
    }
}
@media screen and (min-width:1025px) {
    .sec01 .ctrl_wrap button:hover {
        border: 1px solid var(--point-color);
        background-color: var(--point-color);
    }
    .sec01 .ctrl_wrap button.btn_prev:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66667 13.6663L0 6.99967L6.66667 0.333008L7.85 1.51634L2.36667 6.99967L7.85 12.483L6.66667 13.6663Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .sec01 .ctrl_wrap button.btn_next:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 0.33366L8 7.00033L1.33333 13.667L0.149999 12.4837L5.63333 7.00033L0.149999 1.51699L1.33333 0.33366Z' fill='white'/%3E%3C/svg%3E%0A");
    }
}
@media screen and (max-width:1300px) {
    .sec01 .ctrl_wrap {
        left: 20px;
    }
}
@media screen and (max-width:1024px) {
    .sec01 .swiper-slide .txt_wrap .txt h2 {
        font-size: 60px;
    }
    .sec01 .swiper-slide .txt_wrap .txt p {
        font-size: 16px;
    }
    .sec01 .btn_scroll span {
        font-size: 16px;
    }
    .sec01 .btn_scroll span::after {
        width: 22px;
        height: 22px;
    }
}
@media screen and (max-width:768px) {
    .sec01 .swiper-slide .photo {
        height: 800px;
    }
    .sec01 .swiper-slide .txt_wrap .txt h2 {
        font-size: 45px;
    }
}
@media screen and (max-width:480px) {
    .sec01 .swiper-slide .photo {
        height: 600px;
    }
    .sec01 .swiper-slide .txt_wrap .txt h2 {
        font-size: 40px;
    }
    .sec01 .swiper-slide .txt_wrap .txt h2 br {
        display: block;
    }
    .sec01 .ctrl_wrap {
        bottom: 23%;
    }
}
/****************************** sec02 ******************************/
.sec02 .tit {
    display: flex;
    flex-direction: column; /* h2, p를 위아래로 배치 */
    justify-content: center;
    align-items: center;
    height: 250px;
}
.sec02 .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin-bottom: 5px;
}
.sec02 .list {
    color: #fff;
}
.sec02 .list ul {
    display: flex;
    gap: 20px; /* li 사이의 여백*/
    margin: 0 20px;
}
.sec02 .list ul li {
    width: 50%;
    transition: 0.5s;
    position: relative;
}
.sec02 .list ul li a {
    display: block;
}
.sec02 .list ul li a .photo {
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
}
.sec02 .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.4);
}
.sec02 .list ul li a .desc {
    position: absolute;
    right: 30px;
    top: 25px;
}
.sec02 .list ul li a .sub{
    position: absolute;
    left: 30px;
    bottom: 20px;
}
.sec02 .list ul li a .sub h3 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
}
@media screen and (min-width:1025px) {
    .sec02 .list ul li:hover {
        width: 70%;
    }
    .sec02 .list ul li:hover a .photo img {
        filter: grayscale(0);
    }
}
@media screen and (max-width:1024px) {
    .sec02 .tit {
        height: 180px;
    }
    .sec02 .tit p {
        font-size: 16px;
    }
    .sec02 .list ul {
        display: block;
        gap: 0; /* li 사이의 여백*/
    }
    .sec02 .list ul li {
        width: 100%;
    }
    .sec02 .list ul li a .photo {
        height: 250px;
    }
    .sec02 .list ul li a .photo img {
        filter: grayscale(0);
    }
    .sec02 .list ul li:nth-child(1) {
        margin-bottom: 20px;
    }
    .sec02 .list ul li a .desc p {
        font-size: 16px;
    }
}
@media screen and (max-width:768px) {
    .sec02 .tit {
        height: 160px;
    }
    .sec02 .list ul li a .photo {
        height: 200px;
    }
    .sec02 .list ul li a .desc p {
        display: none;
    }
}
@media screen and (max-width:480px) {
    .sec02 .tit {
        height: 140px;
    }
    .sec02 .tit p {
        font-size: 14px;
    }
    .sec02 .list ul li:nth-child(1) {
        margin-bottom: 15px;
    }
    .sec02 .list ul li a .photo {
        height: 160px;
    }

}
/****************************** sec03 ******************************/
.sec03 {
    display: flex;
    justify-content: space-between; /* .tit, .list 좌우로 배치 */
    margin: 135px 0 135px 7.81%;    
}
.sec03 .tit h2 {
    font-size: 60px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin-bottom: 5px;
}
.sec03 .tit .paging_wrap {
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.sec03 .tit .paging_wrap .paging {
    width: fit-content;
}
.sec03 .tit .paging_wrap .ctrl_wrap {
    margin: 4px 0 0 10px;
}
.sec03 .tit .paging_wrap .ctrl_wrap button {
    width: 30px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.sec03 .tit .paging_wrap .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66667 13.6663L0 6.99967L6.66667 0.333008L7.85 1.51634L2.36667 6.99967L7.85 12.483L6.66667 13.6663Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.sec03 .tit .paging_wrap .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 0.33366L8 7.00033L1.33333 13.667L0.149999 12.4837L5.63333 7.00033L0.149999 1.51699L1.33333 0.33366Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.sec03 .list {
    width: calc(100% - 580px); /* .tit 시작점 사이의 여백 580px */
}
.sec03 .list .swiper-slide {
    width: 300px;
}
.sec03 .list .swiper-slide a {
    display: block;
    position: relative; /* h3의 기준 */
}
.sec03 .list .swiper-slide a .photo {
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
}
.sec03 .list .swiper-slide.swiper-slide-active {
    width: 400px;
}
.sec03 .list .swiper-slide.swiper-slide-active a .photo {
    height: 600px;
    overflow: hidden;
    border-radius: 15px;
}
.sec03 .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.sec03 .list .swiper-slide a .txt_wrap {
    position: absolute; /* a를 기준으로 정렬 */
    left: 25px;
    bottom: 25px;
    color: #fff;
    white-space: nowrap;
}
.sec03 .list .swiper-slide a .txt_wrap h3 {
    font-size: 30px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin-bottom: 5px;
}
.sec03 .list .swiper-slide a .txt_wrap p {
    display: none;
}
.sec03 .list .swiper-slide.swiper-slide-active a .txt_wrap p {
    display: block;
}
@media screen and (min-width:1025px) {
    .sec03 .tit .paging_wrap .ctrl_wrap button:hover {
        border: 1px solid var(--point-color);
        background-color: var(--point-color);
    }
    .sec03 .tit .paging_wrap .ctrl_wrap button.btn_prev:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66667 13.6663L0 6.99967L6.66667 0.333008L7.85 1.51634L2.36667 6.99967L7.85 12.483L6.66667 13.6663Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .sec03 .tit .paging_wrap .ctrl_wrap button.btn_next:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 0.33366L8 7.00033L1.33333 13.667L0.149999 12.4837L5.63333 7.00033L0.149999 1.51699L1.33333 0.33366Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .sec03 .list .swiper-slide a:hover .photo img {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@media screen and (max-width:1300px) {
    .sec03 .list {
        width: calc(100% - 450px); /* .tit 시작점 사이의 여백 520px */
    }
}
@media screen and (max-width:1024px) {
    .sec03 {
        display: block; /* .list를 아래로 배치 */
        margin: 70px 0 110px 0px;
    }
    .sec03 .tit {
        margin: 0 0 10px 20px;
    }
    .sec03 .tit h2 {
        font-size: var(--tit-font-size);
    }
    .sec03 .tit p {
        font-size: 16px;
    }
    .sec03 .tit .paging_wrap .paging {
        font-size: 16px;
    }
    .sec03 .tit .paging_wrap .ctrl_wrap button {
        width: 24px;
        height: 24px;
    }
    .sec03 .tit .paging_wrap .ctrl_wrap button.btn_prev {
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10L0 5L5 0L5.8875 0.8875L1.775 5L5.8875 9.1125L5 10Z' fill='%23555555'/%3E%3C/svg%3E%0A");
    }
    .sec03 .tit .paging_wrap .ctrl_wrap button.btn_next {
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0L6 5L1 10L0.1125 9.1125L4.225 5L0.1125 0.8875L1 0Z' fill='%23555555'/%3E%3C/svg%3E%0A");
    }
    .sec03 .list {
        width: 100%;
        padding: 0 0 0 20px;
    }
    .sec03 .list .swiper .swiper-slide {
        width: 240px;
    }
    .sec03 .list .swiper .swiper-slide.swiper-slide-active {
        width: 320px;
    }
    .sec03 .list .swiper .swiper-slide a .photo {
        height: 400px;
    }
    .sec03 .list .swiper .swiper-slide.swiper-slide-active a .photo {
        height: 480px;
    }
    .sec03 .list .swiper .swiper-slide a .txt_wrap {
        left: 20px;
        bottom: 20px;
    }
    .sec03 .list .swiper .swiper-slide a .txt_wrap h3 {
        font-size: 24px;
    }
    .sec03 .list .swiper .swiper-slide a .txt_wrap p {
        font-size: 16px;
    }
}
@media screen and (max-width:480px) {
    .sec03 {
        margin: 45px 0 60px 0px;
    }
    .sec03 .tit p {
        font-size: 14px;
    }
    .sec03 .list .swiper-slide a .photo {
        height: 250px;
    }
    .sec03 .list .swiper-slide a h3 {
        left: 15px;
        bottom: 15px;
        font-size: 18px;
    }
    .sec03 .list .swiper .swiper-slide {
        width: 240px;
    }
    .sec03 .list .swiper .swiper-slide.swiper-slide-active {
        width: 320px;
    }
    .sec03 .list .swiper .swiper-slide a .photo {
        height: 400px;
    }
    .sec03 .list .swiper .swiper-slide.swiper-slide-active a .photo {
        height: 480px;
    }
    .sec03 .list .swiper .swiper-slide a .txt_wrap {
        left: 20px;
        bottom: 20px;
    }
    .sec03 .list .swiper .swiper-slide a .txt_wrap h3 {
        font-size: 24px;
    }
    .sec03 .list .swiper .swiper-slide a .txt_wrap p {
        font-size: 16px;
    }
}

.sec04 {
    background-color: #f7f7f7;
    padding: 135px 0;

}
.sec04 .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.sec04 .top .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin-bottom: 30px;
}
.sec04 .top .tab ul {
    display: flex;
}
.sec04 .top .tab ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin-left: 20px;
    padding-top: 5px;
    border-top: 1px solid #555;
}
.sec04 .top .tab ul li:nth-child(1) {
    margin-left: 0px;
}
.sec04 .top .tab ul li.active {
    border-top: 3px solid var(--point-color);
}
.sec04 .top .tab ul li.active .btn_tab {
    font-weight: var(--bold-weight);
    color: var(--point-color);
}
.sec04 .tab_contents .cnt {
    display: none;
    justify-content: space-between;
}
.sec04 .tab_contents .cnt.active {
    display: flex;
}
.sec04 .tab_contents .cnt .txt h3 {
    font-size: 36px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    white-space: nowrap;
    color: var(--tit-color);
    margin-bottom: 30px;
}
.sec04 .tab_contents .cnt .txt {
    width: 50%;
    margin-right: 20px;
}
.sec04 .tab_contents .cnt .txt a {
    display: block;
    margin-top: 50px;
}
.sec04 .tab_contents .cnt .txt a .more {
    position: relative;
    padding: 10px 40px 10px 20px;
    border: 1px solid #555;
    border-radius: 30px;
}
.sec04 .tab_contents .cnt .txt a .more::after {
    content: "";
    position: absolute;
    right: 16px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_14_324' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23555555'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_14_324)'%3E%3Cpath d='M9.16699 10.8337H4.16699V9.16699H9.16699V4.16699H10.8337V9.16699H15.8337V10.8337H10.8337V15.8337H9.16699V10.8337Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.sec04 .tab_contents .cnt .photo {
    width: 550px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
}
.sec04 .tab_contents .cnt .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1300px) {
    /* .sec04 .tab_contents .cnt .txt p {
        display: none;
    } */
}
@media screen and (max-width:1024px) {
    .sec04 {
        padding: 80px 0;
    }
    .sec04 .top .tab ul li {
        width: 100px;
        margin-left: 15px;
    }
    .sec04 .top .tab ul li .btn_tab {
        font-size: 16px;
    }
    .sec04 .tab_contents .cnt .txt p {
        display: none;
    }
    .sec04 .tab_contents .cnt .txt a {
        margin-top: 40px;
    }
    .sec04 .tab_contents .cnt .txt a .more {
        font-size: 16px;
        padding: 8px 38px 8px 18px;
        border: 1px solid #555;
        border-radius: 30px;
    }
    .sec04 .tab_contents .cnt .txt a .more::after {
        right: 17px;
        top: 8px;
        width: 18px;
        height: 18px;
    }
    .sec04 .tab_contents .cnt .photo {
        width: 440px;
        height: 320px;
    }
}
@media screen and (max-width:768px) {

}



.sec05 {
    background: url(../images/main/sec05_01.jpg);
    height: 800px;
    padding: 135px 0;
}
.sec05 .top {
    display: flex; /* .tit, .more 좌우로 배치 */
    justify-content: space-between; /* .tit, .more 양쪽 끝 배치 */
    color: #fff;
    margin-bottom: 50px;
}
.sec05 .top .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin-bottom: 5px;
}
.sec05 .top .more a {
    display: block;
    padding: 10px 40px 10px 20px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.sec05 .top .more a span {
    position: relative; /* span::after의 기준 */
}
.sec05 .top .more a span::after {
    content: "";
    position: absolute; /* span을 기준으로 정렬 */
    right: -22px;
    top: 0;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_9_66' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23555555'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_66)'%3E%3Cpath d='M9.1665 10.8337H4.1665V9.16699H9.1665V4.16699H10.8332V9.16699H15.8332V10.8337H10.8332V15.8337H9.1665V10.8337Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.sec05 .cnt ul {
    display: flex;
    gap: 24px;
}
.sec05 .cnt ul li {
    position: relative; /* .more 정렬의 기준 */
    padding: 50px 40px;
    width: 404px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}
.sec05 .cnt ul li h3 {
    font-size: 24px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-color);
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sec05 .cnt ul li p {
    height: 4.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: normal;
    margin-bottom: 87px;
}
.sec05 .cnt ul li .more {
    position: absolute; /* li 기준으로 정렬 */
    right: 40px;
    bottom: 55px;
}
.sec05 .cnt ul li .more a {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #555;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_9_38' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_38)'%3E%3Cpath d='M6.68766 18.3337L5.2085 16.8545L12.0627 10.0003L5.2085 3.14616L6.68766 1.66699L15.021 10.0003L6.68766 18.3337Z' fill='%23555555'/%3E%3C/g%3E%3C/svg%3E%0A");
}

footer {
    height: 1000px;
    background-color: #1d1d1d;
}