html, body {
    font-family: "GyeonggiBatang", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    word-break: keep-all;
    word-wrap: break-word;
    color: #fff;
    background-color: var(--main-color);
}
.wrapper {
    margin: 0 150px;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}
:root {
    --main-color: #002a45;
    --point-color: #ffb915;
    --bold-weight: 700;
    --tit-line-height: 1.2;
}