h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}
strong,th {
    font-weight: inherit;
}
em,address {
    font-style: normal;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button, input[type="button"], input[type="submit"] {
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}
select, input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
}
fieldset {
    border: 0;
}
legend, caption {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}